@charset "UTF-8";

.signin_title
{
    color: white;
}

.padding-top-0
{
    padding-top: 0px !important;
}

.margin-bottom-100
{
	margin-bottom: 100px;
}

.Banner_sec_custom
{
    background: url(../img/Banner-bg.jpg);
    background-size: cover !important;
}